body{
 background: red;
}
.container {
  position: relative;
  left: 300px;
  top: 50px;
}


.tree {
  position: relative;
}


.bauble {
  z-index: 1;
  position: absolute;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}
.bauble.one { 
  top: 65px;
  width: 13px;
  height: 13px;
  background: #FFE066;
} 


.light {
  box-shadow: 1px 1px 10px #CCC,
               -2px 1px 10px #CCC,
                   0 -1px 10px #CCC
}
