body{
 background: red;
}
.container {
  position: absolute;
  left: 300px;
  top: 50px;
}


.tree {
  position: absolute;
}


.bauble {
  z-index: 1;
  position: absolute;
  border-radius: 100%;
  width: 13px;
  height: 13px;
}

.bauble.one { 
  top: 65px;
  width: 13px;
  height: 13px;
  background: #FFE066;
} 

.bauble.two { 
  top: 105px; left: -30px;
  width: 13px;
  height: 13px;
  background: #FFE066;
} 

.bauble.three { 
  top: 110px; left: 15px;
  width: 13px;
  height: 13px;
  background: #FFE066;
} 

.bauble.four { 
  top: 163px; left: -30px;
  width: 13px;
  height: 13px;
  background: #FFE066;
} 

.light {
  box-shadow: 1px 1px 10px #CCC,
               -2px 1px 10px #CCC,
                   0 -1px 10px #CCC
}
